**/target/
**/node_modules/
.env
*.pem
*.key
*.crt
.DS_Store
vendor/
dist/
*.exe
*.dll
*.so
*.dylib
Cargo.lock
!**/Cargo.lock
docs-all/
docs/.astro/
eyevesa-pro
*_license.json
deploy/terraform/.terraform/
